    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      
    }

    body {
      background-color: white;
      color: #333;
      line-height: 1.6;
    }

    header {
      background: #607fab;
      color: #fff;
      padding: 20px 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position: sticky;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    header h1 {
      margin-left: -20px;
      font-size: 50px;
      letter-spacing: 1px;
      font-family:'Courier New', Courier, monospace;
    }
     
    #search{
        height: 40px;
        width: 400px;
        padding-left: 10px;
        border-radius: 20px;
        font-size: 20px;
    }
    #search:hover{
      border: 3px solid darkblue;
      
    }
    


  .menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    
  }


  .menu a:hover {
    text-decoration: underline;
    color:rgb(73, 94, 100);
  }
  .div1{
    background-color: lightblue;
    margin-left: 200px;

  }
  .appointment-container {
  display: flex;
  align-items: center;
  gap: 1px;
  padding: 10px;
  background-color: lightblue;
    
  }

  .doctor-image img {
  position: relative;
  top: 4px;
  left: 120px;
  width: 500px;
  border-radius: 20px;
}
  .formh{
        position: relative;
        right: 50px;
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
        

    }
  #form{
    
    border: 1px solid;
    border-radius: 20px;
    border: 0 solid green;
    height: 430px;
    width: 500px;
    background-color: rgb(241, 228, 198);
    font-family: Arial, Helvetica, sans-serif;
    
  }
  #form-img{
    width: 200px;
    height: 500px;
  }

  form *{
    margin-left: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
 #button{
     background-color: green;
     margin-left: 200px;
     margin-bottom: 30px;
     color: white;
     width: 100px;
     height: 30px;
     border-radius: 10%;
  }

  .servi{
     border: 2px solid black;
  }


  #serv{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #607fab;
  font-size: 50px;
  ;
 }

 #div-services{
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 140px;
  background-color: white;

 }
 .services{
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 5px solid darkblue;
 }

 .image{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
 }
 