    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      background-color: white;
      color: #333;
      line-height: 1.6;
    }

    header {
      background: #607fab;
      color: #fff;
      padding: 20px 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    header h1 {
      margin-left: -20px;
      font-size: 50px;
      letter-spacing: 1px;
    }
     
    #search{
        height: 40px;
        width: 400px;
        margin-left: 50px;
        border-radius: 20px;
        font-size: 20px;
    }
    


  .menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    
  }

  .menu a {
    color: white;
    
  }

  .menu a:hover {
    text-decoration: underline;
    color:antiquewhite
  }
  .div1{
    background-color: lightblue;
  }
  .formh{
        margin-left: 350px;
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
    }
  #form{
    margin-left: 410px;
    border: 1px solid;
    border-radius: 20px;
    height: 400px;
    width: 500px;
    background-color: rgb(241, 228, 198);
    
  }
  form *{
    
    margin-left: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
 #button{
     text-align: center;

 }
 